.search-container button {
    display: block;
    text-align: left;
}
.inputsearch{
    color: white;
}
.inputsearch {
    background-color: transparent;
    width: 90%;
    height: 40px;
    border: 0 ;
}
.searchContainer{
    background-color:  #2b1d1dfb;
    width:30%;
    border-radius: 20px;
    padding: 0;
    margin-left: 450px;
}
th{
    text-align: left;
    padding: 10px;
    color: white;
    background-color: #153d2a;
}
td{
    width:350px;
    text-align: left;
    padding: 10px;
    background-color: rgb(208, 210, 214);
}
.footeradmin{
    margin-top: 250px;
}
.admin_search{
    display: grid;
    grid-template-columns: auto auto;
}