.search-container button {
  display: block;
  text-align: left;
  padding-top:20px;
}

.inputsearch{
  width: 200px;
}
.inputsearch {
  background-color: transparent;
  width: 90%;
  color: white;
  border: 0 ;
}
.searchContainer{
  background-color: transparent;
  border: 1px solid white;
  width:30%;
  border-radius: 20px;
  padding: 0;
  margin-left: 450px;
}
.footerbody{
  background-color: rgb(63, 53, 53);
  margin-top: 80px;
  padding: 20px;
}
.copyright{
  color:rgb(173, 170, 170);
}
.share{
  margin:10px;
  color:rgb(173, 170, 170);
}