.search-container button {
  display: block;
  text-align: left;
}
.search-container button {
  margin-left: 715px;
  margin-top: -30px;
  font-size: 19px;
  border: none;
  cursor: pointer;
}
.inputsearch{
  width: 200px;
}
.footerbody{
  background-color: rgb(247, 228, 228);
  margin-top: 80px;
}
.footericons{
  color: grey;
}