.backgroundhome {   
    background-image: url(../images/donate.jpg);
    /* background-color: red; */
    height:400px;
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 60px;
}
.heading{
    color:#e6e6f3;
    font-size: 46px;
    margin-left: -195px;
}
.hide{
    color:black;
    width: 855px;
}
.readmore{
    margin-left: -600px;
    /* margin-bottom: -500px; */
    margin-top: 30px;
    background-color: rgba(181, 181, 201, 0.788);
    border-radius: 20px;
    padding: 5px;
}
.para{
    background-image: url(../images/vibgyor.png);
    width: 850px;
    height: 100px;
    background-size: cover;
    margin-left: 50px;
    margin-top: 175px;
    padding-top: 20px;
    position: absolute;
}
.donatenow{
    margin-left: 400px;
    background: white;
    border-radius: 20px;
    border-color: white;
    margin-top: -100px;
    background-color: rgba(181, 181, 201, 0.788);
    border-radius: 20px;
    padding: 5px;
}