.body{
    background-color: rgb(230, 165, 165);
    height: 620px;
    padding: 100px;
}
.background{
  background: rgba(241, 240, 240, 0.521);
}
.lform{
  background: transparent;
}
.loginlabel,
.logininput {
  display: block;
  /* width: 50%; */
}
.loginlabel {
  margin-bottom: 5px;
  height: 22px;
}

.logininput {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
  width: 300px;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.loginbutton {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
}

.loginbutton:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}

.forgot{
  display: grid;
  grid-template-columns:110px 30px 20px 140px;
}