.navbar {
    overflow: hidden;
    background-color: rgb(73, 9, 9);
  }
  
.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}
.logOut{
    background:transparent;
    border-color: transparent;
    color: white;
    font-size: 20px;
}
.navhead{
  color: white;
  margin-left: -130px;
}
.logoimage{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.abcd{
  background-color: red;
}