
.registerhead{
  color: rgb(209, 79, 79);
}
.red{
  color: red;
  margin-left: -100px;
}
.registerform{
  display: grid;
  grid-template-columns: 100px 300px ;
  margin-left: 150px;
}
.registergender{
  display: grid;
  grid-template-columns: 100px 100px ;
  margin-left: 150px;
}
.registeraddress{
  display: grid;
  grid-template-columns: 100px 300px ;
  margin-left: 150px;
  margin-top: 20px;
}
.radio{
  display: grid;
  grid-template-columns: 100px 30px 30px 30px 40px 40px 40px 40px ;
  margin-left: 150px;
}
.male{
  margin-top: 7px;
  margin-left: 9px;
}
.female{
  margin-top: 7px;
  margin-left: 15px;
}
.other{
  margin-top: 7px;
  margin-left: 23px;
}
.register{
  margin-top: 50px;
}
.bgsecond{
  background: url(../images/bgregister.jpg);
  padding-top: 150px;
}
.bgthird{
  background:rgba(207, 236, 139, 0.548);
}
.shadebackground{
  background: rgb(246, 248, 139);
  width: 100%;
  height: 100%;
}