.body{
  background-image: url(../images/background.jpg);
    height: 620px;
    padding: 100px;
}
.register, .loginform {
  width: 400px;
  border-radius: 5px;
  line-height: 16px;
  color: hsl(0, 56%, 26%);
  font-size: 12px;
  margin-left: 100px;
  margin-top: -100px;
}

.labelform, .inputregister {
  display: block;
  margin-bottom: 10px;
  width: 90%
}

.inputregister {
  padding: 10px;
  border: solid 1px #0d1d38;
  background: transparent;
}

.buttonregister {
  background-color: #00BFFF;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
}

.sucessMsg {
  color: #6B8E23;
}

.genderdiv{
  border: solid 1px #0d1d38;
  width:90%;
  height: 40px;
}

.labelgender{
  margin-left: -10px;
}

.genderinput{
  margin-left: 120px;
}
.genderinputf{
  margin-left: 150px;
}
.textfield{
  width: 90%;
  height: 40px;
  margin-left: -40px;
  background: transparent;
  border: solid 1px #0d1d38;
}

.India{
  margin-left: 200px;
}
.nation{
  border: solid 1px #0d1d38;
  width: 363px;
}